
/* HEADER STYLES */
header{
  display: flex;
  justify-content: space-between;
  margin: 1.3rem 3rem;
}

.logo {
  /* margin-top: 2rem; */
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}


.nav{
  display: flex;
  border-radius: 5%;
  /* background-color: aliceblue; */
  margin-top: 10px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav a{
  margin-top: .9rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-decoration: none;
  color: black
}

.nav a:hover{
  color:blue;
}

/* CAROUSEL STYLES */
.item{
  min-height: 40rem;
  min-width: 30rem;
  padding: 1rem;
}

.imageInfo {
  /* background-color: pink; */
  margin: 16px;
}

.imageInfo div{
  margin-top: 45%;
  padding: 5rem 5rem 5rem 0;
}

.item img{
  object-fit: cover;
  width: 100%;
  height: 85%;
  pointer-events: none;
}

.inner-carousel {
  display:flex;
}

.carousel {
  margin: 5rem 1.5rem 0 2rem;
  cursor: grab;
  overflow: hidden;
}